body {
  display: grid;
  grid-template-areas:
    'aside header'
    'aside main';
  /* valor automático, 1 fração de (total-aside) */
  grid-template-columns: auto 1fr;
}

.cabecalho {
  grid-area: header;
}

.menu-lateral {
  grid-area: aside;
}
.principal {
  grid-area: main;
}
